.card {
  background-color: #1d2223;
  border-radius: 16px;
  width: auto;
  height: 100px;
  padding: 16px;
  transform-style: preserve-3d;
  transition: 0.6s;
  cursor: pointer;
  perspective: 600px;

  

  &.flipped {
    transform: rotateY(180deg);
  }

  &.in-active{
    opacity: 0;
  }
  .card-face {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      width: 100%;
      min-height: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

    .card-back {
        transform: rotateY(180deg);
    }

    .card-front {
        transform: rotateY(0deg);
    }

}
