.card {
  background-color: #1d2223;
  border-radius: 16px;
  width: 100px;
  height: 100px;
  padding: 16px;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  cursor: pointer;
  perspective: 600px;

  &.flipped {
    transform: rotateY(180deg);
  }
  .card-face {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      width: 100%;
      min-height: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .card-front {
    transform: rotateY(0deg);
  }
  .card-back {
    transform: rotateY(180deg);
  }
}
