@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

body, html{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Ruslan Display', cursive;
}
#root{
    background-color: #FF6D60;
    padding: 16px;
    min-height: inherit;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 4rem;
    background: #1d2223;
    border-radius: 16px;
    color: white;
}

.cta {
    display: flex;
    padding: 7px 25px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 5px 0 #FBC638;
}

  span {
    transform: skewX(15deg) 
  }

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

